* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app-left {
  flex: 0.9;
}

#graph-header {
  margin: 20px 0px;
}

.app-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app-dropdown {
  background-color: white;
}

.app-header h1 {
  color: #888;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
